$background: #051923;
$surface: #0a2a45;
$background_contrast: #003554;
$border: #1a76b3;
$heading: #0582ca;
$primary-text: #27d7ff;
$muted-text: #d1e6f9;


$border-radius-small: 0.75rem;
$border-radius-medium: 1.25rem;
$width-small: 40%;

$shadow-light: 0 2px 4px rgba(0, 0, 0, 0.2);
$shadow-strong: 0 4px 8px rgba(0, 0, 0, 0.3);
$gradient-primary: linear-gradient(135deg, $heading, $primary-text);

$light-background: #f9f9f9;
$light-surface: #ffffff;
$light-text: #051923;
$light-border: #cfd8dc;

$neutral-text-btn:#051923;
$neutral-bkg-btn:#00A6FB;

$delete-bkg-btn:#e63946;
$delete-text-btn:#ffffff;

$success-bkg-btn:#00B894;
$success-text-btn:#ffffff;

