@import '../src/Variables/Variables.scss';
.cover {
    background-color: $background_contrast;
    color: $heading;
    display: flex;
    justify-content: end;
    align-items: center;
}
.tab{
    margin: 0.4em;
    font-size: 1.05em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0%;
    padding: 0%;
}